name: A workflow for my Hello World App
on: push

jobs:
  build:
    name: Hello world action
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Set up JDK 17
        uses: actions/setup-java@v2
        with:
          java-version: '17'
          distribution: 'adopt'
      - name: Clean with Maven
        run: mvn clean
      - name: Compile with Maven
        run: mvn compile
      - name: Package with Maven
        run: mvn package
      - name: Run docker compose
        run: docker compose up --abort-on-container-exit
